* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    color: #333;
    font-family: sans-serif;
    overflow: hidden;
}

#container {
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #ccc;
    overflow: hidden;
}

#center {
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid red;
    border-radius: 100%;
    margin: -3px 0 0 -3px;
}
